/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    box-sizing: border-box;
     width: 1070px;
    margin:auto;
    border: 1px solid #e8e8e8;
    font-family: Arial ;

}
img{
    width:100px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
        color: blue;
}
.header{
    /*background-image:url(http://s1.img.yan.vn/YanNews/2167221/201608/20160820-024938-2012-09-01_185426_538x338.png);*/
    height: 240px;
    box-sizing: border-box;
    background-color:#2C569F;
}
.header-menu{
    margin: auto;
    width:80%;
    padding:20px 0;
}
.header-menu ul li {
    display: inline;
    margin:30px;
}
.header-conten{
    text-align: center;
    color: white;
    margin-bottom: 25px;
}
.header-conten h1 {
    font-size:24px;
    margin: 20px 0;
}
.header-conten p{
    font-size: 12px;
}
.login{
    border:1px solid white;
    padding:3px 25px;
    border-radius: 2px;
}
.header-button{
    text-align: center;
    margin-bottom: 25px;
}
.header-button a{
        margin: 0 15px;
        border-radius: 10px;
        font-size: 14px;
}
.dangky{
    background-color:#58FA58;
    padding: 3px 36px;;
    border:1px solid #58FA58;
}
.tailieu{
    padding:3px 14px;
    border:1px solid white;
}
.gs-app div img{
    width:220px;
    height: 100px;
    border:1px solid #BDBDBD;
    overflow: hidden;
}
.gs-app{
    margin:0 160px 50px;
    overflow: hidden;
}
.gs-app h3{
    font-size: 22px;
    text-align: center;
    margin:30px 0 40px;
}
.gs-app div {
    width: 220px;
    float: left;
    margin: 14px;
}
.gs-app div h2{
    text-align: center;
    margin: 15px 0 15px;
    font-size: 22px;
}
.gs-app div p{
    text-align:justify;
    font-size: 14px;
}
.gs-tracking{
    clear: both;
    background-color:#47546A;
    height: 200px;
}
.gs-tracking p {
    font-size: 22px;
    text-align: center;
    padding: 55px 0;
    color: white;
}
.gs-tracking form{
    margin: 0 420px;
}
.gs-tracking form a{
    border: 1px solid #58FA58;
    border-radius: 2px;
    background-color: #58FA58;
    font-size: 12px;
    padding:2px 10px ;
}
.gs-tracking form input{
    padding: 1px 10px;
    border-radius: 2px;
}
.gs-tech{
    box-sizing: border-box;
    width:620px;
    margin: auto;
}
.meterial-box{
    border: 1px solid #A4A4A4;
    background-color:#BDBDBD;
    width: 570px;
    height:250px;
    margin:0 25px;
    margin-bottom: 30px;
}
.meterial h3 {
    text-align: center;
    font-size:22px ;
    margin: 50px 0 25px;
}
.meterial p{
    font-size: 14px;
    text-align: center;
    margin-bottom: 30px;
}
.meterial a{
    border: 1px solid #58FA58;
    border-radius: 2px;
    background-color: #58FA58;
    font-size: 14px;
    padding:3px 20px ;
    margin: 0 243px;
    /*margin-bottom: 30px;*/
}
.ads{
    margin: 3px;
}
.ads h3{
    font-size: 22px;
    text-align: center;
    margin:40px 0 30px;
}
.ads img{
    margin:5px;
}
.ads-box  {
    width: 140px;
    height: 80px;
    display:inline;
}
.ads a{
    border: 1px solid #58FA58;
    border-radius: 12px;
    background-color: #58FA58;
    font-size: 14px;
    padding:3px 25px ;
    margin: 0 255px;
}
.footer{
    background-color:#E6E6E6;
    margin-top:40px;
    height: 240px;
}
.info{
    margin-left: 100px;
    padding-top: 30px;
    width:40%;
    float: left;
}
.info img {
    margin-bottom: 20px;
}
.info p {
    color: #47546A;
    overflow: auto;
}
.info a{
    border: 1px solid #58FA58;
    border-radius: 12px;
    background-color: #58FA58;
    font-size: 14px;
    padding:3px 40px ;
}
.link li a{
    color:#47546A ;
    font-size: 14px;
}
.link li a:hover{
    color: blue;
}
.contact{
    margin:30px 100px 0 0;
    float:left;
}
.contact li {
    margin-bottom: 20px;
}
.clear{
    clear: both;
}
.all-right{
    margin-bottom: 25px;
}